<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NovusDashboard</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NovusDashboard.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/productionhistory/Home.css" asp-append-version="true" />
    <link rel="preconnect" href="http://localhost:5023" crossorigin>
    <link rel="dns-prefetch" href="http://localhost:5023">
    
</head>
<body>
    <form asp-controller="ProductionHistory" asp-action="Home" method="get">
        <button type="submit" class="btn btn-primary">Go to Home</button>
    </form>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
