html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

:root {
    --primary-color: #b81830;
    --background-light: #F1F2F4;
    --background-control: #DCDFE4;
    --background-search: none;
    --focus-color: #1D7AFC;
    --text-color: #2C333A;
    --icon-color: #86868b;
    --text-secondary: #8C9BAB;
    --border-color: #B3B9C4;
    --arrow-color: #454F59;
    --hover-color: #DEE4EA;
    --border-radius: 0.25rem;
    --transition-speed: 0.2s;
}

/* Main Container */
.data-table {
    min-width: 800px;
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    
    background-color: #F1F2F4;
    margin-top: 20px;
    
    
    display: flex;
    flex-direction: column;
   
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

.data-table__main-title {
    width: 100%;
    background-color: #b81830;
    height: 60px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;    
    padding-left: 20px;
    font-size: 16px;
    max-height: 60px;
    justify-content: space-between;
    padding-right: 20px;
}
/* Header Section */
.data-table__header {
    width: 100%;
    height: auto;
    background-color: #F7F8F9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 6px;
    max-height: 200px;
    gap: 36px;
}

.data-table__subtitle {
    font-weight: lighter;
    color: #767676;
    
}

.data-table__title {
    width: 100%;
    height: 50px;
    color: var(--text-color);
    padding-left: 20px;
    margin: 0;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    
    
    
}

    .data-table__title h4 {
        margin-bottom: 10px;
    }

.data-table__controls {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.data-table__toolbar .dropdown-container {
    min-width: 155px;
    width: 33.33%;
}

/* Search Section */
.data-table__search {
    height: 50px;
    width: 65%;
}

.search-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.search-input {
    width: 100%;
    height: 100%;
    min-height: 40px;
    padding: 0 36px;
    background-color: rgba(9,30,66,0.03);
    border: none;
    border-radius: var(--border-radius);
    text-indent: 10px;
    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;
    box-sizing: border-box;
}

    .search-input:focus {
        outline: 2.5px solid var(--focus-color);
    }

.search-icon,
.clear-button {
    position: absolute;
    top: 65%;
    color: var(--icon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    left: 12px;
    height: 16px;
    transform: translateY(-90%);
}

.clear-button {
    right: 12px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 24px;
    height: 50px;
    cursor: pointer;
    transform: translateY(-65%);
}

/* Toolbar Section */
.data-table__toolbar {
    height: 50px;
    width: 35%;
    min-width: 465px;
    display: flex;
    flex-direction: row;
}

.data-table__control-btn {
    height: 100%;
    width: 33.33%;
    min-width: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: black;
    background-color: #F1F2F4;
    padding: 0 15px;
    border: none;
    transition: filter var(--transition-speed) ease;
    cursor: pointer;
}

.data-table__control-btn span {
   color: black;
}

    .data-table__control-btn:hover {
        filter: brightness(96%);
    }

.icon-text-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Dropdown Arrow */
.dropdown-arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transform: rotate(45deg);
    transform-origin: 50% 50%; /* Set explicit transform origin */
    transition: transform 0.3s ease;
    margin-bottom: 3px;
    position: relative; /* Add relative positioning */
}

/* Table Body */
.data-table__body {
    width: 100%;
    /* Full height minus header and footer */
    overflow: auto;
    overflow-y: scroll;
    height: 500px;
    background-color: #DCDFE4;
}

/* Footer Section */
.data-table__footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1F2F4;
    padding-right: 0;
    border-top: 1.5px solid var(--border-color);
}

.data-table__page-size {
    height: 100%;
}

    .data-table__page-size .data-table__control-btn {
        width: 225px;
        background-color: transparent;
        font-size: 14px;
        border-right: 1.5px solid var(--border-color);
        padding-left: 16px;
    }

        .data-table__page-size .data-table__control-btn:hover {
            background-color: var(--hover-color);
        }


.data-table__pagination {
    height: 100%;
    width: auto;
    
   
}


.search-text-container {
    font-size: 13px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    font-weight: bolder;
}

.search-text {
    max-width: 200px; /* Adjust as needed */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Pagination Controls */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.pagination-controls {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

    .pagination-controls > div {
        width: 50%;
    }

        .pagination-controls > div:nth-of-type(3) {
            justify-content: end;
        }

.pagination-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
    border-left: 1.5px solid var(--border-color);
}

.pagination-controls > div.d-flex:first-of-type > .pagination-button:nth-child(2) {
    border-right: 1.5px solid var(--border-color);
}


.pagination-button:hover {
    background-color: var(--hover-color);
}

.pagination-button.disabled {
    opacity: 0.3;
    cursor: default;
}

    .pagination-button.disabled:hover {
        background-color: white;
    }

.pagination-button.double {
    width: 48px;
}

.pagination-info {
    min-width: 200px;
 
    text-align: center;
    font-size: 14px;
    color: #1d1d1f;
    width: auto;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
}



    .pagination-info .current {
        font-weight: 500;
    }

/* Triangle styles */
.triangle {
    width: 0;
    height: 0;
    display: inline-block;
}

.triangle-west {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 12px solid var(--arrow-color);
    transform: scale(70%);
}

.triangle-east {
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid var(--arrow-color);
    transform: scale(70%);
}

.double-triangle {
    position: relative;
    width: 25px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.double-triangle-west .triangle-west:first-child {
    position: absolute;
    left: 0;
}

.double-triangle-west .triangle-west:last-child {
    position: absolute;
    left: 10px;
}

.double-triangle-east .triangle-east:first-child {
    position: absolute;
    left: 0;
}

.double-triangle-east .triangle-east:last-child {
    position: absolute;
    left: 10px;
}

/* Utility Classes */
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.gap-3 {
    gap: 12px;
}

.gap-4 {
    gap: 16px;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.mx-2 {
    margin-left: 8px;
    margin-right: 8px;
}

.h-100 {
    height: 100%;
}

/* Dropdown Container */
.dropdown-container {
    position: relative;
    height: 100%;
}

.row-dropdown {
    min-width: 225px;
}

/* Dropdown Button Styling */
.data-table__control-btn{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--text-color);
    padding: 0 15px;
    border: none;
   
    transition: background-color var(--transition-speed) ease;
    cursor: pointer;
}
    .data-table__control-btn:nth-of-type(1),
    .data-table__control-btn:nth-of-type(2) {
        border-right: 1.5px solid var(--border-color);
    }

    .column-dropdown .data-table__control-btn {
        border-right: 0px;
    }


    .data-table__control-btn:hover {
        background-color: var(--hover-color);
    }

    .data-table__control-btn:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
    }

    /* Value Container */
    .data-table__control-btn .d-flex {
        margin-left: auto;
    }

.dropdown-arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 1px solid var(--text-color);
    border-bottom: 1px solid var(--text-color);
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    transition: transform 0.3s ease;
    margin-bottom: 3px;
    position: relative;
}

    .dropdown-arrow.open {
        transform: rotate(225deg) translate(-4px, -2px); /* Add both X and Y compensation */
    }

/* Dropdown Content Container */
.dropdown-content-container {
    position: absolute;
    /*    left: 50%;
    
    transform: translateX(-50%);*/
    left: 0;
    transform: none;
    min-width: 250px;
    background-color: #F1F2F4;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 1000;
    overflow: hidden;
}

.sort-dropdown .dropdown-content-container {
    width: 220px;
}

.dropdown-content-container.show {
    display: block;
   
    animation: fadeIn 0.3s ease;
}

.row-dropdown .dropdown-content-container.show {
    display: block;
    animation: fadeInRow 0.3s ease !important;
    transform: translateY(-118%);
}


.advance-dropdown .dropdown-content-container.show {
    display: block;
    transform: translateY(-141%);
    animation: fadeInAdance 0.3s ease !important;
}

/* Dropdown Items */
.dropdown-item {
    width: 100%;
    padding: 10px 12px;
    text-align: start;
    font-size: 12px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    color: var(--text-color);
    transition: background-color 0.2s;
}

    .dropdown-item:last-of-type {
        border-bottom: none;
    }

    .dropdown-item:hover {
        background-color: #F7F8F9;
    }

    .dropdown-item:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
    }


.column-dropdown .dropdown-item:first-of-type:active {
    color: var(--text-color) !important;
}

.column-dropdown .dropdown-item:nth-of-type(2) {
    cursor: auto;
    background-color: transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}


/* Static Input Styling */
.dropdown-container .static-input:first-of-type {
    font-weight: 500;
    text-align: start;
}

.column-dropdown .dropdown-item:nth-of-type(2):active {
    color: inherit;
}


.dropdown-container .static-input {
    font-weight: 400;
}

.static-input:active {
    color: var(--text-color);
}



/* Custom Input Container */
.custom-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #F1F2F4;
    gap: 12px;
}

/* Custom Input Field */
.custom-input {
    width: 90%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s;
}

.row-dropdown .dropdown-content-container {
    width: 200px;
}

.custom-input:focus {
    border-color: var(--focus-color);
}

.custom-row-input {
    -moz-appearance: textfield;
}

    .custom-row-input::-webkit-outer-spin-button,
    .custom-row-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.advance-dropdown {
    width: auto !important;
}

/* Set Button */
.set-button {
    min-width: 50px;
    padding: 8px 12px;
    background-color: var(--focus-color);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.2s;
    border: none;
    cursor: pointer;
}

    .set-button:hover {
        background-color: #1663c7;
    }

    .set-button:focus {
        outline: 2px solid rgba(29, 122, 252, 0.5);
        outline-offset: 1px;
    }

/* Warning Message Styling */
.dropdown-input-warning {
    color: #b81830;
    font-size: 12px;
    margin-top: 4px;
    display: none;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10%)
        
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes fadeInRow {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(-118%);
    }
}


@keyframes fadeInAdance {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(-141%);
    }
}



.triangle-up {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #666;
}

.sort-indicators {
    display: flex;
    flex-direction: column;
    height: 12px;
    width: 12px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transform: scale(70%);
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #666;
}

.sort-dropdown .dropdown-item {
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.triangle-up.disabled,
.triangle-down.disabled {
    border-bottom-color: #ccc;
    border-top-color: #ccc;
}

.dropdown-item.static-input {
    user-select: none; /* Prevents text selection */
    -webkit-user-select: none; /* Safari support */
    -moz-user-select: none; /* Firefox support */
    -ms-user-select: none; /* IE/Edge support */
}


.dropdown-item:hover {
    background-color: #DCDFE4;
}
.checkbox-list {
    border-bottom: 1px solid #eee;
    display: block;
}

.checkbox-item {
    padding: 10px 12px;
    cursor: pointer;
}

    .checkbox-item label {
        display: flex;
        align-items: center;
        font-size: 12px;
        width: 100%;
        cursor: pointer;
    }

    .checkbox-item input {
        margin-right: 8px;
        cursor: pointer;
    }

    .checkbox-item:hover {
        background-color: #f9f9f9;
    }

.column-dropdown .dropdown-content-container {
    width: 200px;

}

.checkbox-item input {
    appearance: none; /* Remove default checkbox styles */
    width: 12px;
    height: 12px;
   
    
    
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

    /* Change style when checked */
    .checkbox-item input:checked {
        
        border-color: #007bff;
    }

        /* Add a checkmark using a pseudo-element */
        .checkbox-item input:checked::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background-color: #626F86;
        }

.column-title-dropdown .dropdown-container {
    z-index: 10000;
}

.column-title-dropdown .dropdown-content-container {
    z-index: 10000;
}

.container-all-columns {
    display: flex;
    width: 100%;
    background-color: #B3B9C4;
    padding-right: 15px;
}

.advance-dropdown .data-table__control-btn {
    width: auto !important;
    min-width: auto !important;
    border-right: 0px;
    padding: 0px;
    gap: 6px;
    padding-right: 16px;
    padding-left: 16px;

}




.table-row {
    display: flex;
    width: 100%;
    transition: background-color 0.2s ease;
    flex-wrap: wrap;
}

.checkbox-item:hover {
    background-color: #DCDFE4;
}

.column-cell {
    padding: 12px 16px;
    font-size: 14px;
    flex: 1;
    background-color: #F7F8F9;
    color: black;
    font-weight: normal;
    border-bottom: 1.75px solid rgba(0, 0, 0, 0.05);
}







.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-height: 600px;
    
}

.close-static-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.column-cell {
    transition: opacity 0.3s ease, transform 0.3s ease;
}

    .column-cell.hidden {
        opacity: 0;
        transform: translateY(10px); /* Slide down */
    }

    .column-cell.visible {
        opacity: 1;
        transform: translateY(0);
    }

.container-all-rows {
    transition: visibility 0.1s, opacity 0.1s;

}



.sort-dropdown .dropdown-content-container .static-input:nth-of-type(2) {
    font-weight: 500;
}

.column-title {
    display: flex;
    flex-direction: row;
}



.column-component {
    overflow: visible;
    display: flex;
    flex-direction: row;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    flex: 1;
}



    .column-component .header-cell:first-child {
        height: 100%;
        width: 70%;
        display: block;
        
    }



.header-cell {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    background-color: #B3B9C4;
    cursor: pointer;
    
    
}



.data-table__control-btn-column {
    height: 55px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 50px;
    background-color: #B3B9C4;
    border: none;
    outline: none;
    padding-left: 16px;
    gap: 12px;
    font-weight: bolder;
    font-size: 14px;
}

.data-table__control-btn-column span {
    text-align: left;
}

.container-all-columns .dropdown-content-container {
    background-color: #F1F2F4;
}

    .data-table__control-btn-column:hover {
        filter: brightness(95%);
    }


/* Fix for column headers specifically */
.container-all-columns .column-component .header-cell {
    position: relative;
    z-index: 500;
}

.column-component {
    border: 0px;
}

.container-all-columns .dropdown-item:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.sort-dropdown .dropdown-item:nth-of-type(2) {
    padding-top: 20px;
    padding-bottom: 15px;
}

.dropdown-content-container .dropdown-item:first-child {
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.dropdown-content-container .dropdown-item:nth-of-type(2) {
    font-weight: 500;
}

.data-table__control-btn-column {
    gap: 15px;
}

.column-dropdown .dropdown-content-container {
    z-index: 2000;
}


/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-row-input.custom-input::-webkit-inner-spin-button,
.custom-row-input.custom-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-row-input.custom-input {
    -moz-appearance: textfield;
}



.custom-input-container .clear-button {
    right: 2rem;
    transform: translateY(-25%);
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

